<ion-header>
  <ion-toolbar>
    <h3 style="text-align: center;">Seleccionar fecha y hora</h3>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


 <ion-label class="ion-text-center">
  <h3 style="text-align: center;">Fecha de atención</h3>
  </ion-label>

  <ion-datetime
    presentation="date"
    [value]="fecha"
    (ionChange)="onFechaSeleccionada($event)">
  </ion-datetime>

  <ion-label class="ion-text-center" style="margin-top: 20px;">
  <h3 style="text-align: center;">Hora de atención</h3>
  </ion-label>

  <ion-datetime
    presentation="time"
    [value]="hora"
    (ionChange)="onHoraSeleccionada($event)"
    locale="es-ES">
  </ion-datetime>

  <ion-button expand="block" (click)="aceptar()">Guardar fecha y hora </ion-button>





</ion-content>


