<ion-header class="ion-no-border">
<app-header  backButton="/home"></app-header>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">

<ion-card class="card3" *ngIf="atencion">
  <ion-list class="formulario-editar">
<!--------------------------------------------------------------------------------->
    <ion-item>
      <ion-label slot="start">Motivo de consulta</ion-label>
      <ion-select [(ngModel)]="atencion.motivo_id" name="motivo_id" interface="popover">
        <ion-select-option *ngFor="let motivo of motivosDisponibles" [value]="motivo.id">
          {{ motivo.motivo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Anamnesis</ion-label>
      <ion-input [(ngModel)]="atencion.anamnesis"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Diagnóstico</ion-label>
      <ion-input [(ngModel)]="atencion.diagnostico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Observaciones</ion-label>
      <ion-textarea [(ngModel)]="atencion.observaciones"></ion-textarea>
    </ion-item>
<!--------------------------------------------------------------------------------->

  <h3 style="text-align: center; margin-top: 16px;">Examen General</h3>

    <ion-item>
      <ion-label slot="start">Mucosas</ion-label>
      <ion-textarea [(ngModel)]="atencion.mucosa"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Temperatura (°C)</ion-label>
      <ion-input type="number" [(ngModel)]="atencion.temperatura"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Peso (Kg)</ion-label>
      <ion-input type="number" [(ngModel)]="atencion.peso"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Condición corporal</ion-label>
      <ion-input [(ngModel)]="atencion.condicion_corporal"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Estado sensorial</ion-label>
      <ion-select [(ngModel)]="atencion.estado_sensorial_id" name="estado_sensorial_id" interface="popover">
        <ion-select-option *ngFor="let estado of estadoSensorial" [value]="estado.id_estado_sensorial">
          {{ estado.estado_sensorial }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Hidratación</ion-label>
      <ion-select [(ngModel)]="atencion.hidratacion_id" name="hidratacion_id" interface="popover">
        <ion-select-option *ngFor="let h of nivelesHidratacion" [value]="h.hidratacion_id">
          {{ h.estado_hidratacion }}
        </ion-select-option>
      </ion-select>
    </ion-item>

<!------------------------------ALIMENTACION---------------------------------->
    <h3 style="text-align: center; margin-top: 16px;">Alimentación</h3>
    <ion-item>
      <ion-label slot="start">Tipo de Alimentación</ion-label>
        <ion-select [(ngModel)]="atencion.id_tipo_alimentacion" name="id_tipo_alimentacion" interface="popover">
        <ion-select-option *ngFor="let ta of tipoAlimentacionOpciones" [value]="ta.id_tipo_alimentacion">
          {{ ta.tipo_alimentacion }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
       <ion-label slot="start">Cantidad (gr/ml)</ion-label>     
      <ion-input type="number" [(ngModel)]="atencion.cantidad_alimentacion">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Veces al día</ion-label>
      <ion-input  type="number" [(ngModel)]="atencion.veces_alimentacion" > </ion-input>
    </ion-item>

<!------------------------------EXAMEN PARTICULAR---------------------------------->
    <h3 style="text-align: center; margin-top: 16px;">Examen Particular</h3>

    <ion-item>
      <ion-label slot="start">Piel y Pelaje</ion-label>
        <ion-select [(ngModel)]="atencion.id_piel" name="id_piel" interface="popover">
        <ion-select-option *ngFor="let p of pielOpciones" [value]="p.id_piel">
          {{ p.estado_piel }}
        </ion-select-option>
      </ion-select>
    </ion-item>

          <ion-item> <i>
            <ion-input label="Obs:" [(ngModel)]="atencion.obs_piel"></ion-input></i>
          </ion-item>


    <ion-item>
      <ion-label slot="start">Ojos</ion-label>
        <ion-select [(ngModel)]="atencion.id_ojos" name="id_ojos" interface="popover">
        <ion-select-option *ngFor="let o of ojosOpciones" [value]="o.id_ojos">
          {{ o.estado_ojos }}
        </ion-select-option>
      </ion-select>
    </ion-item>

          <ion-item><i>
            <ion-input label="Obs:" [(ngModel)]="atencion.obs_ojos"></ion-input></i>
          </ion-item>


    <ion-item>
      <ion-label slot="start">Oidos</ion-label>
        <ion-select [(ngModel)]="atencion.id_oidos" name="id_oidos" interface="popover">
        <ion-select-option *ngFor="let o of oidosOpciones" [value]="o.id_oidos">
          {{ o.estado_oidos }}
        </ion-select-option>
      </ion-select>
    </ion-item>

          <ion-item> <i>
            <ion-input label="Obs:" [(ngModel)]="atencion.obs_oidos"></ion-input></i>
          </ion-item>

    <ion-item>
      <ion-label slot="start">Dentadura</ion-label>
        <ion-select [(ngModel)]="atencion.id_dentadura" name="id_dentadura" interface="popover">
        <ion-select-option *ngFor="let d of dentaduraOpciones" [value]="d.id_dentadura">
          {{ d.estado_dentadura }}
        </ion-select-option>
      </ion-select>
    </ion-item>

          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_dentadura"></ion-input></i>
          </ion-item>
<!-----------------------------sistema digestivo---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Digestivo</ion-label>
        <ion-select [(ngModel)]="atencion.id_sdigestivo" name="id_sdigestivo" interface="popover">
        <ion-select-option *ngFor="let sd of sDigestivoOpciones" [value]="sd.id_sdigestivo">
          {{ sd.estado_sdigestivo }}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_sdigestivo"></ion-input></i>
          </ion-item>
<!-----------------------------sistema cardio vascular---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Cardio Vascular</ion-label>
        <ion-select [(ngModel)]="atencion.id_scvascular" name="id_scvascular" interface="popover">
        <ion-select-option *ngFor="let scv of sCardioVascularOpciones" [value]="scv.id_scvascular">
          {{ scv.estado_scvascular }}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_scvascular"></ion-input></i>
          </ion-item>
<!-----------------------------sistema Respiratorio--------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Respiratorio</ion-label>
        <ion-select [(ngModel)]="atencion.id_srespiratorio" name="id_srespiratorio" interface="popover">
        <ion-select-option *ngFor="let sr of sRespiratorioOpciones" [value]="sr.id_srespiratorio">
          {{ sr.estado_srespiratorio }}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_srespiratorio"></ion-input></i>
          </ion-item>

<!-----------------------------sistema urinario---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Urinario</ion-label>
        <ion-select [(ngModel)]="atencion.id_surinario" name="id_surinario" interface="popover">
        <ion-select-option *ngFor="let su of sUrinarioOpciones" [value]="su.id_surinario">
          {{ su.estado_surinario}}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_surinario"></ion-input></i>
          </ion-item>

<!-----------------------------sistema nervioso---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Nervioso</ion-label>
        <ion-select [(ngModel)]="atencion.id_snervioso" name="id_snervioso" interface="popover">
        <ion-select-option *ngFor="let n of sNerviosoOpciones" [value]="n.id_snervioso">
          {{ n.estado_snervioso}}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_snervioso"></ion-input></i>
          </ion-item>

<!-----------------------------sistema Linfatico---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Linfático</ion-label>
        <ion-select [(ngModel)]="atencion.id_slinfatico" name="id_slinfatico" interface="popover">
        <ion-select-option *ngFor="let sl of sLinfaticoOpciones" [value]="sl.id_slinfatico">
          {{ sl.estado_slinfatico}}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_slinfatico"></ion-input></i>
          </ion-item>

<!-----------------------------sistema Locomotor---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Locomotor</ion-label>
        <ion-select [(ngModel)]="atencion.id_slocomotor" name="id_slocomotor" interface="popover">
        <ion-select-option *ngFor="let lo of sLocomotorOpciones" [value]="lo.id_slocomotor">
          {{ lo.estado_slocomotor}}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_slocomotor"></ion-input></i>
          </ion-item>
<!-----------------------------sistema Reproductor---------------------------------------------------->
    <ion-item>
     <ion-label slot="start">Sistema Reproductor</ion-label>
        <ion-select [(ngModel)]="atencion.id_sreproductor" name="id_sreproductor" interface="popover">
        <ion-select-option *ngFor="let sr of sReproductorOpciones" [value]="sr.id_sreproductor">
          {{ sr.estado_sreproductor}}
        </ion-select-option>
      </ion-select> 
    </ion-item>
          <ion-item><i>
            <ion-input  label="Obs:" [(ngModel)]="atencion.obs_sreproductor"></ion-input></i>
          </ion-item>

  </ion-list>
<!--------------------------------------------------------------------------------->
    <ion-button class="boton-guardar-generico" (click)="guardarCambios()">  Guardar Cambios</ion-button>
    <ion-button class="boton-eliminar" (click)="eliminarAtencion()"> Eliminar Atención</ion-button>    
<!--------------------------------------------------------------------------------->


</ion-card>


</ion-content>
