<ion-header class="ion-safe-area-top ion-no-border">
  <app-header backButton="/home"></app-header>
</ion-header>


<ion-content class="fondo ion-padding-bottom" [fullscreen]="true">

  <h2>Historial de Tratamientos</h2>

  <!-- FILTRO -->
  <ion-card class="filtro-card">
    <ion-accordion-group expand="inset">
      <ion-accordion value="filtro">
        <ion-item slot="header" color="light">
          <ion-icon name="funnel-outline" slot="start"></ion-icon>
          <ion-label>Filtrar</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">

          <!-- FILTRAR POR FECHA -->
          <ion-item lines="none">
            <ion-label>Fecha</ion-label>
            <ion-datetime-button datetime="filtroFechaPopover"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="filtroFechaPopover"
                  presentation="date"
                  cancel-text="Cancelar"
                  done-text="Aplicar"
                  [(ngModel)]="filtroFecha"
                  (ionChange)="filtrarRecetas()"
                  show-default-buttons="true"
                  prefer-wheel="false">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-button 
            class="btn-limpiar" 
            expand="block" 
            fill="outline" 
            color="medium"
            (click)="limpiarFiltros()">
            Limpiar filtros
          </ion-button>

        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <!-- LISTA DE RECETAS -->
  <ion-card *ngFor="let receta of historialRecetas" class="card2" (click)="verDetalleReceta(receta.id_receta)">
    <h3>{{ receta?.mascota?.masc_nom }}</h3>
    <p><strong>Fecha: </strong> {{ receta?.fecha_receta | date: 'medium' }} </p> 
    <p><strong>Indicaciones: </strong> {{ receta?.indicaciones }}</p>

    <div *ngIf="receta?.detalle_receta?.length">
      <h4>Medicamentos</h4>
      <ul class="lista-medicamentos lista-sin-punto">
        <li *ngFor="let detalle of receta.detalle_receta">
          <strong style="color: black;">
            {{ detalle.medicamento?.nombre_medicamento || 'Nombre no disponible' }}
          </strong>
          <p>- {{ detalle.dosis_medicamento }}</p>
          <p>- {{ detalle.duracion_medicamento }}</p>
        </li>
      </ul>
    </div>
  </ion-card>

  <!-- MENSAJE SI NO HAY RECETAS -->
  <ion-card *ngIf="historialRecetas.length === 0" class="card2">
    <ion-card-content class="ion-text-center">
      No hay recetas médicas registradas aún.
    </ion-card-content>
  </ion-card>

  <!-- BOTÓN AGREGAR RECETA -->
  <div class="boton-agregar">
    <ion-button 
      class="agregar-receta" 
      expand="block"
      (click)="irAgregarReceta()"
    >
      <ion-icon name="add" slot="start"></ion-icon> Nueva Receta
    </ion-button>
  </div>

</ion-content>
