<app-header backButton="/perfil" title="Datos profesionales"></app-header>

<ion-content class="fondo">


  <ion-card class="ion-card">

      <h2>Datos profesionales</h2>
<p style="text-align: center;">Necesitas completar tú perfil como médico veterinario para utilizar nuestra aplicación</p>
    <form [formGroup]="form" (ngSubmit)="guardarDatos()">

      <!-- PAÍS -->
      <ion-item>
        <ion-label position="floating">País</ion-label>
        <ion-select formControlName="pais" interface="popover" placeholder="Selecciona un país">
          <ion-select-option *ngFor="let pais of paises" [value]="pais.id_pais">
            {{ pais.nom_pais }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- UNIVERSIDAD (filtrada por país) -->
      <ion-item>
        <ion-label position="floating">Universidad de Egreso</ion-label>
        <ion-select formControlName="universidad" interface="popover" placeholder="Selecciona una universidad">
          <ion-select-option *ngFor="let uni of universidadesFiltradas" [value]="uni.id_uni">
            {{ uni.nom_uni }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- ESPECIALIDAD -->
      <ion-item>
        <ion-label position="floating">Especialidad</ion-label>
        <ion-select formControlName="especialidad" interface="popover" placeholder="Selecciona una especialidad">
          <ion-select-option *ngFor="let esp of especialidades" [value]="esp.id_especialidad">
            {{ esp.nom_especialidad }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- AÑO TITULACIÓN -->
      <ion-item>
        <ion-label position="floating">Año de Titulación</ion-label>
        <ion-input type="number" formControlName="anoTitulacion"></ion-input>
      </ion-item>

      <!-- FOTO TÍTULO PROFESIONAL -->
      <ion-item lines="none">
        <ion-label>Imagen Título Profesional</ion-label>
      </ion-item>

      <ion-item lines="none">
        <input type="file" (change)="subirImagenCertificado($event)" accept="image/*,.pdf" />
      </ion-item>

      <ion-item *ngIf="fotoTituloUrl" lines="none" class="ion-padding-top">
        <img [src]="fotoTituloUrl" alt="Foto Título" style="max-width: 100%; border-radius: 12px;" />
      </ion-item>

      <ion-button *ngIf="fotoTituloUrl" color="danger" expand="full" shape="round" (click)="eliminarImagenCertificado()">
        Eliminar imagen
      </ion-button>

      <!-- BOTÓN GUARDAR -->
      <ion-button expand="full" type="submit" [disabled]="!form.valid" shape="round">
        Enviar información
      </ion-button>

    </form>
  </ion-card>

</ion-content>
