<app-header backButton="/veterinario/tutor" title="Mascotas"></app-header>

<ion-content class="fondo ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="irAgregarMascota()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="ion-card">
    <ion-card-title>
      <h2>Lista de mascotas</h2>
    </ion-card-title>
    <ion-card-content>
      <ion-list *ngIf="mascotas.length > 0; else sinMascotas">
        <ion-item-sliding *ngFor="let mascota of mascotas">
          <ion-item>
            <ion-label>
              <h3>{{ mascota.masc_nom }}</h3>
              <p>Especie: {{ mascota.nom_especie }}</p>
              <p>Estado: {{ mascota.estado }}</p>
            </ion-label>
            <ion-button slot="end" size="small" color="primary" (click)="irEditarMascota(mascota.id_masc)">
              Editar
            </ion-button>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      <ng-template #sinMascotas>
        <p>No hay mascotas registradas aún.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>
