<ion-header class="ion-safe-area-top ion-no-border">
<app-header [backButton]="'/veterinario/tutor/mascotas/' + idMasc"></app-header>
</ion-header>


<ion-content class="fondo ion-padding-bottom" [fullscreen]="true">

  <ion-card *ngIf="atenciones.length > 0" class="ion-card">
    <ion-list>
<ion-item *ngFor="let atencion of atenciones" (click)="verDetalle(atencion.id)">
        <ion-label>
          <h4>{{ atencion.anamnesis }}</h4>
          <p>Diagnóstico: {{ atencion.diagnostico }}</p>
          <p>Tratamientos: {{ atencion.tratamientos }}</p>
          <p>{{atencion.fecha_hora_atencion | date: 'medium'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <p *ngIf="atenciones.length == 0">
    La mascota aún no tiene atenciones registradas.
  </p>
</ion-content>
