<app-header backButton="/tutor" title="Agregar Mascota"></app-header>

<ion-content class="fondo">
  <ion-card class="ion-card">
    <form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()">
      <ion-list>

        <ion-item>
          <ion-label position="stacked">
            Nombre de la mascota <span style="color: red">*</span>
          </ion-label>
          <ion-input type="text" formControlName="masc_nom" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha de nacimiento</ion-label>
          <ion-datetime presentation="date" formControlName="masc_nacimiento" (ionChange)="actualizarEdad()"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Edad (años)</ion-label>
          <ion-input type="number" formControlName="masc_edad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Peso (kg)</ion-label>
          <ion-input type="number" formControlName="masc_peso"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Color</ion-label>
          <ion-input type="text" formControlName="masc_color" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tamaño</ion-label>
          <ion-input type="text" formControlName="masc_tamano" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pelaje</ion-label>
          <ion-input type="text" formControlName="masc_pelaje" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">¿Esterilizado?</ion-label>
          <ion-input type="text" formControlName="masc_esterilizado" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Número de Chip</ion-label>
          <ion-input type="number" formControlName="masc_num_chip"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Especie <span style="color: red">*</span>
          </ion-label>
          <ion-select interface="popover" formControlName="id_especie" (ionChange)="cargarDependencias()">
            <ion-select-option *ngFor="let especie of especies" [value]="especie.id_especie">
              {{ especie.nom_especie }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Raza <span style="color: red">*</span>
          </ion-label>
          <ion-select interface="popover" formControlName="id_raza" [disabled]="!mascotaForm.value.id_especie">
            <ion-select-option *ngFor="let raza of razas" [value]="raza.id_raza">
              {{ raza.nom_raza }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Grupo Sanguíneo</ion-label>
          <ion-select interface="popover" formControlName="id_grupo_sanguineo" [disabled]="!mascotaForm.value.id_especie">
            <ion-select-option *ngFor="let grupo of gruposSanguineos" [value]="grupo.id_grupo_sanguineo">
              {{ grupo.nom_grupo_sanguineo }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Observaciones previas</ion-label>
          <ion-textarea formControlName="masc_observaciones"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Estado <span style="color: red">*</span>
          </ion-label>
          <ion-select interface="popover" formControlName="id_estado">
            <ion-select-option *ngFor="let estado of estados" [value]="estado.id_estado">
              {{ estado.estado }}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>

      <ion-button expand="full" type="submit" [disabled]="mascotaForm.invalid" shape="round">
        Guardar Mascota
      </ion-button>
    </form>
  </ion-card>
</ion-content>
