<app-header [backButton]="'/veterinario/tutor/mascotas/' + idTutor" title="Agregar Mascota"></app-header>


<ion-content class="fondo">
  <ion-card class="ion-card">
    <h2>Agregar mascota</h2>
    <form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()">

      <ion-list>
<!--NOMBRE ------------------>
        <ion-item>
          <ion-input label="Nombre mascota" type="text" formControlName="masc_nom" required></ion-input> <span style="color: red">*</span>
        </ion-item>
<!--SEXO --------------------->
        <ion-item>
          <ion-select label="Sexo" interface="popover" formControlName="id_sexo" required>
            <ion-select-option *ngFor="let s of sexo" [value]="s.id_sexo">
              {{ s.masc_sexo }}
            </ion-select-option>
          </ion-select><span style="color: red">*</span>
        </ion-item>
<!-- FECHA NACIMIENTO -->

<!-- FECHA NACIMIENTO DESCONOCIDA -->
<ion-item lines="none">
  <ion-label>Fecha de nacimiento desconocida</ion-label>
  <ion-checkbox

                      slot="end"
                      class="checkbox-redondo"
    formControlName="fecha_desconocida"
    (ionChange)="onFechaDesconocidaChange()"
  ></ion-checkbox>
</ion-item>


<!-- FECHA DE NACIMIENTO (solo si fecha conocida) -->
<ion-item *ngIf="!fechaDesconocida" lines="none" class="ion-margin-vertical">
  <ion-label>Fecha de nacimiento</ion-label>
  <ion-datetime-button datetime="fechaNacimiento"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="fechaNacimiento"
        presentation="date"
        formControlName="masc_nacimiento"
        (ionChange)="actualizarEdad()"
        show-default-buttons="true"
        prefer-wheel="false"
        done-text="Aceptar"
        cancel-text="Cancelar"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-item>

<!-- EDAD APROXIMADA (solo si fecha desconocida) -->
<ion-item *ngIf="fechaDesconocida" class="ion-margin-vertical">
  <ion-input
  label="Edad aproximada (años)"
    type="number"
    formControlName="masc_edad"
    min="0"
  ></ion-input>
</ion-item>
<!-- Campo que muestra edad calculada, solo si fecha conocida -->
<ion-item *ngIf="!fechaDesconocida && mascotaForm.value.masc_nacimiento" class="ion-margin-vertical">
  <ion-input label="Edad (años)" [value]="mascotaForm.value.masc_edad_texto"  readonly     class="readonly-input"></ion-input>
</ion-item>

<!--ESPECIE --------------------->
        <ion-item>
          <ion-select
          label="Especie" interface="popover" formControlName="id_especie" (ionChange)="cargarDependencias()" required>
            <ion-select-option *ngFor="let especie of especies" [value]="especie.id_especie">
              {{ especie.nom_especie }}
            </ion-select-option>
          </ion-select>
          <span style="color: red">*</span>
        </ion-item>
<!--RAZA --------------------->
        <ion-item>
          <ion-select label="Raza"interface="popover" formControlName="id_raza" [disabled]="!mascotaForm.value.id_especie">
            <ion-select-option *ngFor="let raza of razas" [value]="raza.id_raza">
              {{ raza.nom_raza }}
            </ion-select-option>
          </ion-select> <span style="color: red">*</span>
        </ion-item>

<!--TAMAÑO --------------------->
        <ion-item>
          <ion-select label="Tamaño" interface="popover" formControlName="id_tamanio">
            <ion-select-option *ngFor="let t of tamanio" [value]="t.id_tamanio">
              {{ t.tamanio_mascota }}
            </ion-select-option>
          </ion-select>
        </ion-item>
<!--PELAJE --------------------->
        <ion-item>
          <ion-select label="Tipo Pelaje" interface="popover" formControlName="id_pelaje">
            <ion-select-option *ngFor="let p of pelaje" [value]="p.id_pelaje">
              {{ p.tipo_pelaje }}
            </ion-select-option>
          </ion-select>
        </ion-item>
<!--COLOR PEAJE --------------------->
        <ion-item>
          <ion-input label="Color Pelaje" type="text" formControlName="masc_color" autocomplete="off"></ion-input>
        </ion-item>
<!--ESTERILIZADO --------------------->
        <ion-item>
          <ion-select label="Esterilizado" interface="popover" formControlName="id_esterilizado">
            <ion-select-option *ngFor="let e of esterilizado" [value]="e.id_esterilizado">
              {{ e.esterilizado_estado }}
            </ion-select-option>
          </ion-select> <span style="color: red">*</span>
        </ion-item>
<!--GRUPO SANGUINEO --------------------->
        <ion-item>
          <ion-select label="Grupo Sanguíneo" interface="popover" formControlName="id_grupo_sanguineo" [disabled]="!mascotaForm.value.id_especie">
            <ion-select-option *ngFor="let grupo of gruposSanguineos" [value]="grupo.id_grupo_sanguineo">
              {{ grupo.nom_grupo_sanguineo }}
            </ion-select-option>
          </ion-select>
        </ion-item>
<!--CHIP --------------------->
        <ion-item>
          <ion-input label="Número de Chip" type="number" formControlName="masc_num_chip"></ion-input>
        </ion-item>
<!--OBSERVACIONES --------------------->
        <ion-item>
          <ion-textarea label="Observaciones"formControlName="masc_observaciones"></ion-textarea>
        </ion-item>


      </ion-list>
<!--GUARDAR --------------------->
      <ion-button expand="full" type="submit" [disabled]="mascotaForm.invalid" shape="round">
        Guardar Mascota
      </ion-button>
    </form>
  </ion-card>
</ion-content>