<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    
    <h2 style="text-align: left; font-size: 25px; padding-left: 30px; padding-top: 30px; color:#ffbf9a">Menú</h2>

    <ion-content class="menu-content ion-padding-bottom">
      <div class="menu-wrapper">
        
        <ion-list>
          <ion-menu-toggle>
            <ion-item routerLink="/home">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/tutor">
              <ion-icon name="paw-outline" slot="start"></ion-icon>
              <ion-label>Tutores</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle>
            <ion-item routerLink="/atencion-medica">
              <ion-icon name="bandage-outline" slot="start"></ion-icon>
              <ion-label>Nueva atención</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/agenda">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label>Agenda</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/perfil">
              <ion-icon name="settings-outline" slot="start"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item (click)="showHelpAlert()">
              <ion-icon name="help-circle-outline" slot="start"></ion-icon>
              <ion-label>Ayuda en Línea</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Botón anclado al final -->
        <div class="cerrar-sesion">
          <ion-menu-toggle>
            <ion-item id="present-alert" (click)="presentAlert()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>

      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
