<ion-content class="fondo">


  <div style="text-align: center; padding-top: 100px">  
    <p>Logo</p>
    <h1>PADPET</h1>
    <h3>Gestión Veterinaria</h3>
  </div>


  <div style="padding: 5%;">
    <ion-card class="ion-card">
      <h2>Iniciar sesión</h2>

      <ion-input type="text" placeholder="correo"></ion-input>
      <ion-input type="text" placeholder="contrasena"></ion-input>
      <ion-button expand="block"shape="round"  routerLink="/home"> Iniciar sesión </ion-button>


       <!------------------>         
       <div>
        <ion-button class="crearcuenta" routerLink="/nuevacuenta">
          Crear cuenta
        </ion-button>
      </div>
  
      <div>
        <ion-button class="botonolvido" routerLink="/olvidopass">
          Olvidé mi contraseña
        </ion-button>
      </div>

      <div style="text-align: center;">1.0 version</div>
  
    </ion-card>
  </div>


</ion-content>