<ion-header class="ion-no-border">
<app-header  backButton="/home"></app-header>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
<h2>Editar tratamiento</h2>


<ion-card class="card3" >
<ion-list class="formulario-editar">
  

</ion-list>
  <!--------------------------------------------------------------------------------->
    <ion-button class="boton-guardar-generico" (click)="guardarCambiosReceta()">  Guardar Cambios</ion-button>
    <ion-button class="boton-eliminar"> Eliminar Atención</ion-button>    
<!--------------------------------------------------------------------------------->


</ion-card>
</ion-content>
