<app-header backButton="/home" title="Agregar tutor"></app-header>

<ion-content class="fondo">
  <ion-card class="ion-card">
      <h2>Nuevo tutor</h2>
      
    <form [formGroup]="tutorForm" (ngSubmit)="guardarTutor()">
      <ion-list>
        <ion-item>
          <ion-input  label="RUN Tutor" type="text" formControlName="run_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nombre" type="text" formControlName="nombre_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Apellidos" type="text" formControlName="apellidos_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Dirección" type="text" formControlName="direccion_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Correo" type="email" formControlName="correo_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Celular +569" type="number" formControlName="celular_tutor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select formControlName="id_region" label="Región" interface="popover" placeholder="Selecciona una región" (ionChange)="cargarCiudades()">
            <ion-select-option *ngFor="let region of regiones" [value]="region.id_region">
              {{ region.nombre_region }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select formControlName="id_ciudad" label="Ciudad" interface="popover" placeholder="Selecciona una ciudad">
            <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id_ciudad">
              {{ ciudad.nombre_ciudad }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button expand="block" class="boton-editar" [disabled]="tutorForm.invalid" (click)="guardarTutor()">Crear Tutor</ion-button>
    </form>
  </ion-card>
</ion-content>
