<app-header  backButton="/home" title="Agregar tutor"></app-header>

<ion-content>
  <form [formGroup]="tutorForm" (ngSubmit)="guardarTutor()">
    <ion-item>
      <ion-label position="floating">RUN Tutor</ion-label>
      <ion-input formControlName="run_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" formControlName="correo_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="number" formControlName="celular_tutor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Región</ion-label>
      <ion-select formControlName="id_region" (ionChange)="cargarCiudades()">
        <ion-select-option *ngFor="let region of regiones" [value]="region.id_region">
          {{ region.nombre_region }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-select formControlName="id_ciudad">
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id_ciudad">
          {{ ciudad.nombre_ciudad }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="tutorForm.invalid">Guardar Tutor</ion-button>
  </form>
</ion-content>
