 <app-header title=""></app-header>


<ion-content class="fondo ion-padding-bottom" [fullscreen]="true">

  <!-- Mensaje de solicitud -->
  <ion-card *ngIf="mostrarMensajeSolicitud" [color]="getColorEstado()" class="ion-padding position-relative" style="border-radius: 20px;">
    <ion-button fill="clear" size="small" class="cerrar-btn" (click)="cerrarMensajeSolicitud()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-card-content style="text-align: center;">
      <ion-icon name="information-circle-outline" style="font-size: 25px; vertical-align: middle; margin-right: 4px;"></ion-icon>
      <strong>Solicitud:</strong> {{ estadoNombre | titlecase }} <br />
    </ion-card-content>
  </ion-card>


  <ion-grid>

    <!-- Perfil -->
    <ion-card class="perfil-card" [routerLink]="['/perfil']">
      <ion-card-content>
        <ion-grid>
          <ion-row class="fila-perfil" align-items-center>
            <ion-col size="12" size-md="auto" class="img-perfil">
              <ng-container *ngIf="logoVet; else noLogo">
                <img [src]="logoVet" alt="Foto de perfil" class="profile-img">
              </ng-container>
              <ng-template #noLogo>
                <div class="placeholder-img"></div>
              </ng-template>
            </ion-col>
            <ion-col size="12" size-md="true" class="datos-medico">
              <ion-card-title class="nombre">MV. {{ nombreVet || 'Cargando nombre'}}</ion-card-title>
              <p class="run">RUN: {{ runVet || 'cargando run'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Opciones -->
    <ion-row>

      <!-- Tutores -->
      <ion-col size="6" [routerLink]="['/tutor']">
        <ion-item-sliding
          class="ion-card-importantes"
          #slidingItem
          (ionOpen)="onSlideOpen()"
          (ionClose)="onSlideClose()"
        >
          <ion-item
            lines="none"
            [disabled]="estadoSolicitud !== '1'"
            [class.disabled]="estadoSolicitud !== '1'"
            button
            (click)="estadoSolicitud === '1' ? irATutor() : null"
          >
            <div class="contenido-centro">
              <ion-icon name="paw-sharp" class="icono2"></ion-icon>
              <ion-card-title class="card-title">Tutores</ion-card-title>
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              style="white-space: normal; width: 220px; cursor: pointer; background-color: #fffffa; color:#658faf"
              (click)="irATutor()"
            >
              Aquí puedes agregar a los tutores y sus mascotas.
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>

      <!-- Agenda -->
      <ion-col size="6">
        <ion-item-sliding
          class="ion-card-importantes"
          #slidingAgenda
          (ionOpen)="slidingOpenAgenda = true"
          (ionClose)="slidingOpenAgenda = false"
        >
          <ion-item
            lines="none"
            [disabled]="estadoSolicitud !== '1'"
            [class.disabled]="estadoSolicitud !== '1'"
            button
            (click)="estadoSolicitud === '1' ? irAAgenda() : null"
            [style.background]="slidingOpenAgenda ? '#fff' : 'transparent'"
          >
            <div class="contenido-centro">
              <ion-icon name="calendar-sharp" class="icono2"></ion-icon>
              <ion-card-title class="card-title">Agenda</ion-card-title>
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              style="white-space: normal; width: 220px; cursor: pointer; background-color: #fffffa; color:#658faf"
              (click)="irAAgenda()"
            >
              Visualiza tus citas sincronizadas con Google Calendar.
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>

      <!-- Cita médica -->
      <ion-col size="12">
        <ion-item-sliding
          class="ion-card-otros"
          #slidingConsulta
          (ionOpen)="slidingOpenConsulta = true"
          (ionClose)="slidingOpenConsulta = false"
        >
          <ion-item
            lines="none"
            [disabled]="estadoSolicitud !== '1'"
            [class.disabled]="estadoSolicitud !== '1'"
            button
            (click)="estadoSolicitud === '1' ? irAConsulta() : null"
            [style.background]="slidingOpenConsulta ? '#fff' : 'transparent'"
          >
            <div class="contenido-centro">
              <ion-card-title class="card-title">Cita médica</ion-card-title>
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              style="white-space: normal; width: 240px; cursor: pointer; background-color: #fffffa; color:#658faf"
              (click)="irAConsulta()"
            >
              Agrega una nueva atención médica para un animal y registra el tratamiento correspondiente.
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>

      <!-- Estadísticas -->
      <ion-col size="12">
        <ion-item-sliding
          class="ion-card-otros"
          #slidingEstadisticas
          (ionOpen)="slidingOpenEstadisticas = true"
          (ionClose)="slidingOpenEstadisticas = false"
        >
          <ion-item
            lines="none"
            [disabled]="estadoSolicitud !== '1'"
            [class.disabled]="estadoSolicitud !== '1'"
            button
            (click)="estadoSolicitud === '1' ? irADashboard() : null"
            [style.background]="slidingOpenEstadisticas ? '#fff' : 'transparent'"
          >
            <div class="contenido-centro">
              <ion-card-title class="card-title">Estadísticas</ion-card-title>
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              style="white-space: normal; width: 240px; cursor: pointer; background-color: #fffffa; color:#658faf"
              (click)="irAConsulta()"
            >
              Podrás visualizar las estadísticas de tus consultas médicas.
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
