<app-header title="Bienvenido"></app-header>

<ion-content class="fondo">

<ion-card *ngIf="mostrarMensajeSolicitud" color="warning" class="ion-padding position-relative" style="border-radius: 20px;">
  <!-- Botón para cerrar -->
  <ion-button fill="clear" size="small" class="cerrar-btn" (click)="cerrarMensajeSolicitud()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <ion-card-content style="text-align: center;">
<ion-icon name="information-circle-outline" style="font-size: 25px; vertical-align: middle; margin-right: 4px;"></ion-icon>

    <strong>Solicitud enviada:</strong> {{ estadoSolicitud | titlecase }} <br />
  </ion-card-content>
</ion-card>


<ion-grid>
  <!----perfil-->
  <ion-card class="perfil-card" [routerLink]="['/perfil']">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto" class="img-perfil">
       <!---    <img src="" alt="Foto de perfil" class="profile-img"> -->
          </ion-col>       
          <ion-col size="auto" class="datos-medico">
            <ion-card-title class="nombre">MV. {{ nombreVet || 'Cargando nombre'}}</ion-card-title>
            <p class="run">RUN: {{ runVet || 'cargando run'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
<!--------------------------->


<ion-row>
  <!---TUTORES--->
  <ion-col size="6">
    <ion-card 
      class="ion-card-importantes" 
      [routerLink]="estadoSolicitud === 'aceptada' ? ['/tutor'] : null" 
      [class.disabled]="estadoSolicitud !== 'aceptada'">
      <ion-card-header>
        <div>
          <ion-icon name="paw-outline" class="icono2"></ion-icon>
          <ion-card-title>Tutores</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content class="texto">
        Agrega tutores y sus mascotas
      </ion-card-content>
    </ion-card>
  </ion-col>

  <!---AGENDA--->
  <ion-col size="6">
    <ion-card 
      class="ion-card-importantes" 
      [routerLink]="estadoSolicitud === 'aceptada' ? ['/agenda'] : null" 
      [class.disabled]="estadoSolicitud !== 'aceptada'">
      <ion-card-header>
        <div>
          <ion-icon name="search-outline" class="icono2"></ion-icon>
          <ion-card-title>Agenda</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content class="texto">
        Sincronizado con Google Calendar
      </ion-card-content>
    </ion-card>
  </ion-col>

  <!---CONSULTA MÉDICA--->
  <ion-col size="12">
    <ion-card 
      class="ion-card-otros" 
      [routerLink]="estadoSolicitud === 'aceptada' ? ['/atencion-medica'] : null" 
      [class.disabled]="estadoSolicitud !== 'aceptada'">
      <ion-card-header>
        <div>
          <ion-card-title>CITA MÉDICA</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content class="texto">
        Agrega una nueva consulta médica
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>






</ion-grid>

</ion-content>
