.fondo{
    --background: linear-gradient(20deg, rgb(175, 186, 235) 10%, rgb(253, 253, 253) 60%);
  }


  .ion-card{

    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(255, 255, 255);
    border-radius: 20px; 
  
  }

  .card{

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}

  .card2{
    padding: 8px 5%;
    margin: 10px 5%;
    background: rgb(251, 251, 251);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: none;
    border-radius: 20px;


    
}
      .card2 p {
        margin: 3px 0;
      }
      .card2 h3 {
        margin: 0 0 6px 0;
        font-size: 16px;
        font-weight: 600;
      }

  .card3{

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(251, 251, 251);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}

  .card4{

    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background: rgba(255, 255, 255);
    border: 1px solid rgb(100, 181, 239);
    box-shadow: 0 0 0px;
    border-radius: 20px; 
}



  h2{
    font-family: system-ui;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #658faf ;
  }

  h3{
    font-family: system-ui;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 2px;
    color: #192c72 ;
  }
  h4{
    font-family: system-ui;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bolder;
    color: #626262 ;

  }

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 300;
    
  }


  .boton-editar{
    --background: #ffbf9a ;
    --color: #000000 ;
    --border-radius: 20px;
    --box-shadow: 0;
  
    margin-top: 20px;
    display: block;
    text-transform: uppercase;

  }
    .boton-exportar{
    --background:#8a9aca;
    --color: #000000 ;
    --border-radius: 20px;
    --box-shadow: 0;
    color: rgb(251, 251, 251);
  
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
  }

.boton-enviar-directo {
  --background: transparent;
  --color: #000000;
  --border-radius: 20px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #8a9aca;
  --box-shadow: none;

  margin-top: 10px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}



  .boton-guardar-generico{
  --background: #ffbf9a ; 
  --color: #000000;
  --border-radius: 15px;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
      margin-top: 20px;
    display: block;

  }

  .boton-eliminar {
  --background: transparent;
  --color: #000000;
  --border-radius: 15px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #8a9aca;
  --box-shadow: none;
  margin-top: 10px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  align-items: center;
}

.italic {
  font-style: italic;
}

.consulta-item{
    --border-radius: 16px;
    --background: #f4f4f4;
    --box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    --color: #222;
    --placeholder-color: #999;
    margin-bottom: 16px;
    padding: 0 8px;

}

ion-item.consulta-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  --min-height: 60px;

}




.footer-transparente {
  --background: transparent !important; /* fondo totalmente transparente */
  border-top: none !important;          /* sin línea superior */
  box-shadow: none !important;          /* sin sombra */
  backdrop-filter: none !important;     /* elimina efecto de difuminado */
  --ion-safe-area-bottom: 0px !important; /* elimina espacio extra abajo si aplica */

    padding-bottom: env(safe-area-inset-bottom);
}

.sticky-footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 9999; /* que quede encima */
}

ion-content {
  padding-bottom: calc(env(safe-area-inset-bottom) + 60px); /* 56px es el alto típico del footer */
}

.page-content {
  padding-bottom: env(safe-area-inset-bottom); // iOS + Android moderno
}


.keyboard-is-open ion-content {
  --padding-bottom: 300px; // ajusta según el teclado
}



/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*
@import "@ionic/angular/css/palettes/dark.system.css"; */
