<ion-header class="ion-no-border">
  <app-header title="" backButton="/home"></app-header>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">

  <!-- Filtro de mes y año --> 
  <ion-card class="card4">
    <h3 style="text-align: center;">Resumen Mensual</h3>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Mes</ion-label>
              <ion-select 
                [(ngModel)]="mesSeleccionado" 
                (ionChange)="obtenerEstadisticasDashboard()"
                interface="popover"
                class="select-small">
                <ion-select-option *ngFor="let mes of meses; let i = index" [value]="i + 1">
                  {{ mes }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Año</ion-label>
              <ion-select 
                [(ngModel)]="annoSeleccionado" 
                (ionChange)="obtenerEstadisticasDashboard()"
                interface="popover"
                class="select-small">
                <ion-select-option *ngFor="let anio of anios" [value]="anio">
                  {{ anio }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Estadísticas del mes -->
    <!-- Estadísticas del mes -->
    <ion-card *ngIf="estadisticas" class="card4">
      <h3 style="text-align: center;">
        Total atenciones:
        <span *ngIf="estadisticas.total_atenciones > 0; else noAtenciones">
          {{ estadisticas.total_atenciones }}
        </span>
        <ng-template #noAtenciones>
          No hay registros en el mes seleccionado
        </ng-template>
      </h3>

      <ion-card-content>

        <!-- Gráfico centrado -->
        <div *ngIf="estadisticas.especies && getEspeciesData().length > 0; else noGrafico"
            style="display: flex; justify-content: center; align-items: center; min-height: 300px;">
          <app-chart [data]="getEspeciesData()" [labels]="getEspeciesLabels()"></app-chart>
        </div>

        <ng-template #noGrafico>
          <p style="text-align: center; padding: 2rem;">No hay datos para mostrar el gráfico</p>
        </ng-template>

        <!-- Especies atendidas -->
        <div class="section" *ngIf="estadisticas.especies && getKeys(estadisticas.especies).length > 0">
          <h3>Especies atendidas</h3>
          <ul>
            <li *ngFor="let especie of getKeys(estadisticas.especies)">
              {{ especie }}: {{ estadisticas.especies[especie] }} atenciones
            </li>
          </ul>
        </div>

        <!-- Motivos de consulta -->
        <div class="section">
          <h3>Motivos de consulta</h3>
          <ul>
            <li *ngFor="let motivo of getKeys(estadisticas.motivos)">
              {{ motivo }}: {{ estadisticas.motivos[motivo] }} atenciones
            </li>
          </ul>
        </div>

      </ion-card-content>
    </ion-card>


  <!-- Spinner mientras carga -->
  <ion-spinner *ngIf="cargando" name="dots"></ion-spinner>

</ion-content>
