<app-header  backButton="/home" title="Perfil"></app-header>

<ion-content>

    <!-------------------------------------------------------->
   <ion-card class="card" style="text-align: center;">
      <h2>Foto de perfil</h2>
      <p>Imagen de perfil</p>
      <img *ngIf="fotoPerfilUrl" [src]="fotoPerfilUrl" alt="Foto de perfil" style="width: 120px; height: 120px; border-radius: 50%; margin: 10px auto;" />
      <ion-button (click)="selectImage()" class="editar">Subir Foto de Perfil</ion-button>
      <input type="file" accept="image/*" hidden #fileInput (change)="uploadImage($event)" />
      <ion-button color="danger" *ngIf="fotoPerfilUrl" (click)="eliminarFotoPerfil()">Eliminar Foto de Perfil</ion-button>
   </ion-card>
    
<!-------------------------------------------------------->
<!-----------------------DATOS PERSONALES --------------------------------->
<ion-card class="card" style="text-align: center;">
    <h2>Datos personales</h2>
    <p>llamar a los datos personales</p>
      <ion-button [routerLink]="['/datospersonales']" class="editar"> editar información</ion-button>
   </ion-card>
   
   <!-------------------------------------------------------->
   <!-----------------------PERFIL PROFESIONAL --------------------------------->
   <ion-card class="card" style="text-align: center;">
   <h2>Perfil profesional</h2>
   <p>llamar a los datos profesionales</p>
      <ion-button [routerLink]="['/datosprofesionales']" class="editar"> editar información</ion-button>
   </ion-card>
   
   <!-------------------------------------------------------->
   <!-----------------------PREFERENCIAS ATENCION --------------------------------->
   <ion-card class="card" style="text-align: center;">
      <h2>Atención médica</h2>
      <p>personaliza tu atencion médica</p>
   
         <ion-button [routerLink]="['/datosatencion']" class="editar"> editar información</ion-button>
      </ion-card>
      
   
   <!-------------------------------------------------------->
   <!-----------------------FIRMA PROFESIONAL--------------------------------->
      <ion-card class="card" style="text-align: center; margin-top: 30px;">
         <h2>Firma</h2>
         <p>Imagen de la firma del veterinario</p>
         <img *ngIf="firmaUrl" [src]="firmaUrl" alt="Firma del veterinario"
            style="width: 200px; height: auto; margin: 10px auto;" />
         <ion-button (click)="selectFirma()" class="editar">Subir Firma</ion-button>
         <input type="file" accept="image/*" hidden #fileInputFirma (change)="uploadFirma($event)" />
         <ion-button color="danger" *ngIf="firmaUrl" (click)="eliminarFirma()">Eliminar Firma</ion-button>
      </ion-card>

</ion-content>